{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Group Details</h2>
    <div class="card shadow-lg p-3 rounded">
        <h4 class="card-title">{{ group.name }}</h4>
        <h5 class="mt-3">Assigned Permissions:</h5>
        <ul class="list-group">
            {% for permission in group.permissions.all %}
                <li class="list-group-item">{{ permission.name }}</li>
            {% empty %}
                <li class="list-group-item text-muted">No permissions assigned.</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="mt-3 pe-3">
        <div class="d-flex justify-content-end">
            <a href="{% url 'security:group_list' %}" class="btn btn-m btn-outline-secondary mx-1">
                View
            </a>
            <a href="{% url 'security:group_delete' pk=group.id %}" class="btn btn-m btn-outline-secondary mx-1">
                Edit
            </a>
            <a href="{% url 'security:group_delete' pk=group.id %}" class="btn btn-m btn-outline-secondary mx-1 text-danger">
                Delete
            </a>
        </div>
    </div>
</div>
{% endblock %}