{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Groups</h2>
    <div class="card shadow-sm p-3 rounded">
        <ul class="list-group list-group-flush">
            {% for group in groups %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>{{ group.name }}</strong>
                    </div>
                    <div class="d-flex">
                        <a href="{% url 'security:group_detail' pk=group.id %}" class="btn btn-sm btn-outline-secondary mx-1">
                            View
                        </a>
                        <a href="{% url 'security:group_edit' pk=group.id %}" class="btn btn-sm btn-outline-secondary mx-1">
                            Edit
                        </a>
                        <a href="{% url 'security:group_delete' pk=group.id %}" class="btn btn-sm btn-outline-secondary mx-1 text-danger">
                            Delete
                        </a>
                    </div>
                </li>
            {% empty %}
                <li class="list-group-item text-muted">No groups available.</li>
            {% endfor %}
        </ul>
    </div>

    <!-- Add New Button -->
    <div class="mt-4 mb-4 text-end">
        <a href="{% url 'people_management:create_contract' %}" class="btn btn-outline-dark">
            Add New
        </a>
    </div>
</div>
{% endblock %}