

{% extends 'dashboard/base.html'%}


{% block content %}      

    <h1 class="mt-4">Dashboard</h1>
    
    <div class="card mb-4">
        <div class="card-header table-header-flex-box">
            <div>
                <i class="fas fa-table me-1"></i>
                All Employees
            </div>
            <button class='btn btn-success'><a href="{% url 'create_person' %}" class="text-white">Add New Person</a></button>
        </div>
        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>DOB</th>
                        <th>Status</th>
                        <th data-sortable='false'>Edit</th>
                        <th data-sortable='false'>Delete</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>DOB</th>
                        <th>Status</th>
                        <th data-sortable='false'>Edit</th>
                        <th data-sortable='false'>Delete</th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for person in people %}
                        <tr>
                            <td>{{ person.first_name }} {{ person.last_name }}</td>
                            <td>{{ person.email }}</td>
                            <td>{{ person.phone_number }}</td>
                            <td>{{ person.date_of_birth }}</td>
                            <td>{{ person.active }}</td>
                            <td>
                                <button class='btn btn-info'>
                                    <a href="{% url 'update_person' person.pk %}" class="text-white"><i class="fa-solid fa-pen-to-square"></i></a>
                                </button>
                            </td>
                            <td>
                                <button class='btn btn-danger'>
                                    <a href="{% url 'delete_person' person.pk %}" class="text-white"><i class="fa-solid fa-delete-left"></i></a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
