<div id="layoutSidenav_nav" class="">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="{% url 'dashboard' %}">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>

                <!-- People Management -->
                <div class="sb-sidenav-menu-heading">People Management</div>
                <!-- People -->
                <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePeople" aria-expanded="false" aria-controls="collapsePeople">
                    <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                    People
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePeople" aria-labelledby="headingPeople" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'people' %}">View People</a>
                        <a class="nav-link" href="{% url 'create_person' %}">Create Person</a>
                    </nav>
                </div>

                <!-- Contracts Section -->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseContracts" aria-expanded="false" aria-controls="collapseContracts">
                    <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                    Contracts
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseContracts" aria-labelledby="headingContracts" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'contracts' %}">View Contracts</a>
                        <a class="nav-link" href="{% url 'create_contract' %}">Create Contract</a>
                    </nav>
                </div>

                <!-- Security Section -->
                {% if request.user.is_authenticated %}
                <div class="sb-sidenav-menu-heading">Security</div>
                <!-- Users -->
                <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="false" aria-controls="collapseUsers">
                    <div class="sb-nav-link-icon"><i class="fas fa-cogs"></i></div> <!-- Changed to cog icon -->
                    Users
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseUsers" aria-labelledby="headingUsers" data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'users' %}">View Users</a>
                        <a class="nav-link" href="{% url 'create_user' %}">Create User</a>
                    </nav>
                </div>
                {% endif %}

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            <div>{{ request.user.get_full_name }}</div>  <!-- Displays the full name of the logged-in user -->
        </div>
    </nav>
</div>