{% extends 'dashboard/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="text-center mb-4">Contract Details</h2>

        <div class="card shadow-lg p-3 rounded">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>Person:</strong> {{ contract.person }}
                </li>
                <li class="list-group-item">
                    <strong>Job Title:</strong> {{ contract.job_title }}
                </li>
                <li class="list-group-item">
                    <strong>Contract Start:</strong> {{ contract.contract_start }}
                </li>
                <li class="list-group-item">
                    <strong>Contract End:</strong> {{ contract.contract_end }}
                </li>
                <li class="list-group-item">
                    <strong>Hourly Rate:</strong> {{ contract.hourly_rate }}
                </li>
                <li class="list-group-item">
                    <strong>Contracted Hours:</strong> {{ contract.contracted_hours }}
                </li>
            </ul>

            <div class="mt-3 text-end pe-3">
                <div class="btn-group gap-2" role="group">
                    <a href="{% url 'people_management:contracts' %}" class="btn btn-dark rounded">Cancel</a>
                    <a href="{% url 'people_management:update_contract' pk=contract.id %}" class="btn btn-primary rounded">Update</a>
                    <a href="{% url 'people_management:delete_contract' pk=contract.id %}" class="btn btn-danger rounded">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
