
{% extends 'dashboard/base.html'%}


{% block content %}      
   
    <p>{{person.first_name}}</p>
    <p>{{person.last_name}}</p>
    <p>{{person.email}}</p>
    <p>{{person.phone_number}}</p>
    <p>{{person.date_of_birth}}</p>
    <p>{{person.active}}</p>

    <a href="{% url 'people' %}" class='btn btn-dark'>Cancel</a>
    <a href="{% url 'update_person' pk=person.id %}" class='btn btn-primary'>Update</a>
    <a href="{% url 'delete_person' pk=person.id %}" class='btn btn-danger'>Delete</a>

{% endblock %}